body{
    background-color: #fafafa;
}

.title{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    color: #899b9f;
    font-family: sans-serif;
    font-weight:bolder;
    letter-spacing: 7px;
    font-style: normal;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

ul{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    margin-top: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 1;
    letter-spacing: 1px;
    color: black;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: black;
    padding: 15px 12px 0px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:link{
    background-color: transparent;
    color: black;
}

ul li a:hover{
    background-color: transparent;
    color: #899b9f;
}

ul li.active a{
    color: #899b9f;
} 

.dharmik img{
    margin-top: 14%; 
    margin-left: 16%;
    height: 400px;
    width: 400px;
    display: inline-block;
    float: left;
} 

.para{
    position: absolute;
    top: 38%;
    left: 45%;
    width: 550px;
    height: 300px;
    /* background: yellow; */
    font-weight: lighter;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
}

.para a{
    color: #d15b57;
    text-decoration: none;
}

a:link{
    color: #d15b57;
}

a:hover{
    color: rgb(175, 149, 82);
}

.social-menu ul {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #0c0c0cec;
    font-size: 20px;
    line-height: 20px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #899b9f;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    background-color: #fafafa;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #e4dddd;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}


@media (max-width: 380px) and (max-height: 670px) {
    .title{
        position: absolute;
        top: 10%;
        transform: translate(-50%, -50%);
    }
    
    .title h1{
        color: #899b9f;
        font-family: sans-serif;
        font-weight:bolder;
        letter-spacing: 7px;
        font-style: normal;
        font-size: 35px;
        text-transform: uppercase;
        text-align: center;
    }

    .dharmik img{
        margin-top: 24%; 
        margin-left: 7%;
        height: 300px;
        width: 300px;
        display: inline-block;
        float: left;
    } 
    
    .para{
        position: absolute;
        top: 55%;
        left: 1%;
        padding: 20px;
        width: auto;
        height: auto;
        /* background: yellow; */
        font-weight: lighter;
        font-family: sans-serif;
        font-size: 16px;
        text-align: justify;
        overflow: hidden;
    }

    .social-menu ul {
        position: absolute;
        top: 106%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0;
        display: flex;
    }
    .social-menu ul li {
        list-style: none;
        margin: 0 10px;
    }
    .social-menu ul li .fa {
        color: #0c0c0cec;
        font-size: 16px;
        line-height: 15px;
        transition: .5s;
    }
    .social-menu ul li .fa:hover {
        color: #899b9f;
    }
    .social-menu ul li a {
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 30%;
        background-color: #fafafa;
        text-align: center;
        transition: 0.5s;
        transform: translate(0,0px);
        box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
    }

}
